In [37]:
from sqlalchemy import create_engine
import pymysql

engine = create_engine("mysql+pymysql://root:@localhost:3306/censor")

In [8]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\python37\lib\site-packages (1.1.0)

In [38]:
import pandas as pd

In [39]:
import numpy as np

In [40]:
district_centroid=pd.read_csv("district wise centroids.csv")

In [33]:
district_centroid.to_sql('d_cen',con=engine, if_exists='replace')

594

In [41]:
district_census=pd.read_csv('india-districts-census-2011.csv')

In [43]:
district_census.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629

In [45]:
list(district_census.columns)

['District code',
 'State name',
 'District name',
 'Population',
 'Male',
 'Female',
 'Literate',
 'Male_Literate',
 'Female_Literate',
 'SC',
 'Male_SC',
 'Female_SC',
 'ST',
 'Male_ST',
 'Female_ST',
 'Workers',
 'Male_Workers',
 'Female_Workers',
 'Main_Workers',
 'Marginal_Workers',
 'Non_Workers',
 'Cultivator_Workers',
 'Agricultural_Workers',
 'Household_Workers',
 'Other_Workers',
 'Hindus',
 'Muslims',
 'Christians',
 'Sikhs',
 'Buddhists',
 'Jains',
 'Others_Religions',
 'Religion_Not_Stated',
 'LPG_or_PNG_Households',
 'Housholds_with_Electric_Lighting',
 'Households_with_Internet',
 'Households_with_Computer',
 'Rural_Households',
 'Urban_Households',
 'Households',
 'Below_Primary_Education',
 'Primary_Education',
 'Middle_Education',
 'Secondary_Education',
 'Higher_Education',
 'Graduate_Education',
 'Other_Education',
 'Literate_Education',
 'Illiterate_Education',
 'Total_Education',
 'Age_Group_0_29',
 'Age_Group_30_49',
 'Age_Group_50',
 'Age not stated',
 'Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
 'Households_with_Television',
 'Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Ownership_Owned_Households',
 'Ownership_Rented_Households',
 'Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households',
 'Household_size_1_person_Households',
 'Household_size_2_persons_Households',
 'Household_size_1_to_2_persons',
 'Household_size_3_persons_Households',
 'Household_size_3_to_5_persons_Households',
 'Household_size_4_persons_Households',
 'Household_size_5_persons_Households',
 'Household_size_6_8_persons_Households',
 'Household_size_9_persons_and_above_Households',
 'Location_of_drinking_water_source_Away_Households',
 'Married_couples_1_Households',
 'Married_couples_2_Households',
 'Married_couples_3_Households',
 'Married_couples_3_or_more_Households',
 'Married_couples_4_Households',
 'Married_couples_5__Households',
 'Married_couples_None_Households',
 'Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000',
 'Total_Power_Parity']

In [ ]:
district_census[['']]

In [42]:
district_census.to_sql("d_census",con=engine)

OperationalError: (pymysql.err.OperationalError) (1059, "Identifier name 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car' is too long")
[SQL:
CREATE TABLE d_census (
	`index` BIGINT,
	`District code` BIGINT,
	`State name` TEXT,
	`District name` TEXT,
	`Population` BIGINT,
	`Male` BIGINT,
	`Female` BIGINT,
	`Literate` BIGINT,
	`Male_Literate` BIGINT,
	`Female_Literate` BIGINT,
	`SC` BIGINT,
	`Male_SC` BIGINT,
	`Female_SC` BIGINT,
	`ST` BIGINT,
	`Male_ST` BIGINT,
	`Female_ST` BIGINT,
	`Workers` BIGINT,
	`Male_Workers` BIGINT,
	`Female_Workers` BIGINT,
	`Main_Workers` BIGINT,
	`Marginal_Workers` BIGINT,
	`Non_Workers` BIGINT,
	`Cultivator_Workers` BIGINT,
	`Agricultural_Workers` BIGINT,
	`Household_Workers` BIGINT,
	`Other_Workers` BIGINT,
	`Hindus` BIGINT,
	`Muslims` BIGINT,
	`Christians` BIGINT,
	`Sikhs` BIGINT,
	`Buddhists` BIGINT,
	`Jains` BIGINT,
	`Others_Religions` BIGINT,
	`Religion_Not_Stated` BIGINT,
	`LPG_or_PNG_Households` BIGINT,
	`Housholds_with_Electric_Lighting` BIGINT,
	`Households_with_Internet` BIGINT,
	`Households_with_Computer` BIGINT,
	`Rural_Households` BIGINT,
	`Urban_Households` BIGINT,
	`Households` BIGINT,
	`Below_Primary_Education` BIGINT,
	`Primary_Education` BIGINT,
	`Middle_Education` BIGINT,
	`Secondary_Education` BIGINT,
	`Higher_Education` BIGINT,
	`Graduate_Education` BIGINT,
	`Other_Education` BIGINT,
	`Literate_Education` BIGINT,
	`Illiterate_Education` BIGINT,
	`Total_Education` BIGINT,
	`Age_Group_0_29` BIGINT,
	`Age_Group_30_49` BIGINT,
	`Age_Group_50` BIGINT,
	`Age not stated` BIGINT,
	`Households_with_Bicycle` BIGINT,
	`Households_with_Car_Jeep_Van` BIGINT,
	`Households_with_Radio_Transistor` BIGINT,
	`Households_with_Scooter_Motorcycle_Moped` BIGINT,
	`Households_with_Telephone_Mobile_Phone_Landline_only` BIGINT,
	`Households_with_Telephone_Mobile_Phone_Mobile_only` BIGINT,
	`Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car` BIGINT,
	`Households_with_Television` BIGINT,
	`Households_with_Telephone_Mobile_Phone` BIGINT,
	`Households_with_Telephone_Mobile_Phone_Both` BIGINT,
	`Condition_of_occupied_census_houses_Dilapidated_Households` BIGINT,
	`Households_with_separate_kitchen_Cooking_inside_house` BIGINT,
	`Having_bathing_facility_Total_Households` BIGINT,
	`Having_latrine_facility_within_the_premises_Total_Households` BIGINT,
	`Ownership_Owned_Households` BIGINT,
	`Ownership_Rented_Households` BIGINT,
	`Type_of_bathing_facility_Enclosure_without_roof_Households` BIGINT,
	`Type_of_fuel_used_for_cooking_Any_other_Households` BIGINT,
	`Type_of_latrine_facility_Pit_latrine_Households` BIGINT,
	`Type_of_latrine_facility_Other_latrine_Households` BIGINT,
	`Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households` BIGINT,
	`Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households` BIGINT,
	`Not_having_bathing_facility_within_the_premises_Total_Households` BIGINT,
	`Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households` BIGINT,
	`Main_source_of_drinking_water_Un_covered_well_Households` BIGINT,
	`Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households` BIGINT,
	`Main_source_of_drinking_water_Spring_Households` BIGINT,
	`Main_source_of_drinking_water_River_Canal_Households` BIGINT,
	`Main_source_of_drinking_water_Other_sources_Households` BIGINT,
	`Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households` BIGINT,
	`Location_of_drinking_water_source_Near_the_premises_Households` BIGINT,
	`Location_of_drinking_water_source_Within_the_premises_Households` BIGINT,
	`Main_source_of_drinking_water_Tank_Pond_Lake_Households` BIGINT,
	`Main_source_of_drinking_water_Tapwater_Households` BIGINT,
	`Main_source_of_drinking_water_Tubewell_Borehole_Households` BIGINT,
	`Household_size_1_person_Households` BIGINT,
	`Household_size_2_persons_Households` BIGINT,
	`Household_size_1_to_2_persons` BIGINT,
	`Household_size_3_persons_Households` BIGINT,
	`Household_size_3_to_5_persons_Households` BIGINT,
	`Household_size_4_persons_Households` BIGINT,
	`Household_size_5_persons_Households` BIGINT,
	`Household_size_6_8_persons_Households` BIGINT,
	`Household_size_9_persons_and_above_Households` BIGINT,
	`Location_of_drinking_water_source_Away_Households` BIGINT,
	`Married_couples_1_Households` BIGINT,
	`Married_couples_2_Households` BIGINT,
	`Married_couples_3_Households` BIGINT,
	`Married_couples_3_or_more_Households` BIGINT,
	`Married_couples_4_Households` BIGINT,
	`Married_couples_5__Households` BIGINT,
	`Married_couples_None_Households` BIGINT,
	`Power_Parity_Less_than_Rs_45000` BIGINT,
	`Power_Parity_Rs_45000_90000` BIGINT,
	`Power_Parity_Rs_90000_150000` BIGINT,
	`Power_Parity_Rs_45000_150000` BIGINT,
	`Power_Parity_Rs_150000_240000` BIGINT,
	`Power_Parity_Rs_240000_330000` BIGINT,
	`Power_Parity_Rs_150000_330000` BIGINT,
	`Power_Parity_Rs_330000_425000` BIGINT,
	`Power_Parity_Rs_425000_545000` BIGINT,
	`Power_Parity_Rs_330000_545000` BIGINT,
	`Power_Parity_Above_Rs_545000` BIGINT,
	`Total_Power_Parity` BIGINT
)

]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [46]:
import pandas as pd
import numpy as np

In [47]:
df=pd.read_csv("indian_food.csv")

In [49]:
df.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East

In [64]:
df.duplicated().any()

False

In [66]:
df.drop_duplicates()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East
...,...,...,...,...,...,...,...,...,...
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West
252,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",vegetarian,-1,-1,sweet,dessert,Jammu & Kashmir,North
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central
254,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,Goa,West

In [51]:
df.shape

(255, 9)

In [58]:
df.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            0
dtype: int64

In [59]:
df[df['region'].isnull()]

Empty DataFrame
Columns: [name, ingredients, diet, prep_time, cook_time, flavor_profile, course, state, region]
Index: []

In [57]:
df['region']=df['region'].fillna('North')

In [69]:
import mysql.connector

In [87]:
conn= mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
    database='food_items'
)

In [88]:
mycursor = conn.cursor()

In [91]:
mycursor.execute("""
CREATE TABLE users (loginid INT PRIMARY KEY AUTO_INCREMENT, username VARCHAR(255) UNIQUE, password VARCHAR(255))
""")

In [72]:

mycursor.execute("CREATE DATABASE food_items")

In [84]:
mycursor.execute("""
    SELECT state,Count(*) AS 'count' FROM dishes 
    GROUP BY state
    ORDER BY count DESC LIMIT 2
""")

In [86]:
mycursor.fetchall()

[('Gujarat', 35), ('Punjab', 32)]

In [73]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/food_items")

In [75]:
df.to_sql('dishes',con=engine)

255